@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  @apply text-xl font-[300] text-orange-600;
}

.input {
  @apply rounded border bg-neutral-50 p-1 px-2 outline-none focus:border-orange-400;
}

.addButton {
  @apply rounded bg-blue-600 text-white;
}

html,
body {
  padding: 0;
  /* background: rgb(23, 23, 23); */
  margin: 0;
  font-family: "Roboto", sans-serif;
}
